# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [1]:
import pandas as pd
import numpy as np

# Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C', 'D'])
print("Original DataFrame:")
print(df)

# Set the index to be the first column
df.set_index('A', inplace=True)
print("DataFrame with new index:")
print(df)

Original DataFrame:
    A   B   C   D
0  68  68  71  74
1  14  71   6  18
2  68  37  37  87
3   2  59   8  56
4  20  71  81  67
5  20  91  82  49
DataFrame with new index:
     B   C   D
A
68  68  71  74
14  71   6  18
68  37  37  87
2   59   8  56
20  71  81  67
20  91  82  49

2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [5]:
# Create a Pandas DataFrame with specified columns and index
df = pd.DataFrame(np.random.randint(1, 100, size=(3, 3)), columns=['A', 'B', 'C'], index=['X', 'Y', 'Z'])
print("Original DataFrame:")
print(df)

# Access the element at row 'Y' and column 'B'
element = df.at['Y', 'B']
print("Element at row 'Y' and column 'B':", element)

Original DataFrame:
    A   B   C
X  77  90  45
Y  36  70  24
Z  31  99  62
Element at row 'Y' and column 'B': 70

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [ ]:
# Create a Pandas DataFrame with specified columns and index
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Adding new columns
df['D'] = df['A'] * df['B']
print("The new DataFrame is:")
print(df)

Original DataFrame:
    A   B   C
0   4  53  40
1  21  29  10
2  38  96   3
3  21  63  66
4  74   2  26
The new DataFrame is:
    A   B   C     D
0   4  53  40   212
1  21  29  10   609
2  38  96   3  3648
3  21  63  66  1323
4  74   2  26   148

2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [8]:
# Create a Pandas DataFrame with specified columns and index
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Compute the row-wise and column-wise sum
row_sum = df.sum(axis=1)
column_sum = df.sum(axis=0)

print("Row-wise sum:")
print(row_sum)
print("Column-wise sum:")
print(column_sum)

Original DataFrame:
    A   B   C
0   2  96  29
1  34  82  70
2  13  39  79
3  42  50  45
Row-wise sum:
0    127
1    186
2    131
3    137
dtype: int64
Column-wise sum:
A     91
B    267
C    223
dtype: int64

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [12]:
# Create a Pandas DataFrame with specified columns and index
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Introduce some NaN values
df.iloc[0, 1] = np.nan
df.iloc[2, 2] = np.nan
df.iloc[4, 0] = np.nan
print("DataFrame with NaN values:")
print(df)

filled_df_with_mean = df.fillna(np.mean(df))
print("Filled DataFrame with mean:")
print(filled_df_with_mean)

Original DataFrame:
    A   B   C
0   1  17  98
1  24  85  96
2  78  26   3
3  51   7  78
4  98  11  26
DataFrame with NaN values:
      A     B     C
0   1.0   NaN  98.0
1  24.0  85.0  96.0
2  78.0  26.0   NaN
3  51.0   7.0  78.0
4   NaN  11.0  26.0
Filled DataFrame with mean:
           A          B          C
0   1.000000  48.416667  98.000000
1  24.000000  85.000000  96.000000
2  78.000000  26.000000  48.416667
3  51.000000   7.000000  78.000000
4  48.416667  11.000000  26.000000

2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [14]:
# Create a Pandas DataFrame with specified columns and index
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C', 'D'])
print("Original DataFrame:")
print(df)

# Introduce some NaN values
df.iloc[0, 1] = np.nan
df.iloc[2, 2] = np.nan
df.iloc[4, 0] = np.nan
print("DataFrame with NaN values:")
print(df)

# Drop the rows with any NaN values
df.dropna(inplace=True)
print("DataFrame with NaN values dropped:")
print(df)

Original DataFrame:
    A   B   C   D
0  36  18  91  12
1  98  13  83  88
2  59  56  40  84
3  43  55  89  47
4  62  82  85  20
5  79  31  76  54
DataFrame with NaN values:
      A     B     C   D
0  36.0   NaN  91.0  12
1  98.0  13.0  83.0  88
2  59.0  56.0   NaN  84
3  43.0  55.0  89.0  47
4   NaN  82.0  85.0  20
5  79.0  31.0  76.0  54
DataFrame with NaN values dropped:
      A     B     C   D
1  98.0  13.0  83.0  88
3  43.0  55.0  89.0  47
5  79.0  31.0  76.0  54

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

In [20]:
# Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'
df = pd.DataFrame({'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Value': np.random.randint(1, 100, size=10)})
print("Original DataFrame:")
print(df)

# Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category
groupped_df = df.groupby('Category')['Value'].agg(['sum', 'mean'])
print("Grouped DataFrame:")
print(groupped_df)

Original DataFrame:
  Category  Value
0        C      3
1        B     54
2        A     70
3        A     35
4        A     86
5        B     72
6        A     67
7        C     40
8        A     78
9        A     73
Grouped DataFrame:
          sum       mean
Category
A         409  68.166667
B         126  63.000000
C          43  21.500000

2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [26]:
# Create a Pandas DataFrame with 3 columns: 'Product', 'Category' and 'Sales'
df = pd.DataFrame({'Product': np.random.choice(['Prod_1', 'Prod_2', 'Prod_3'], size=10),
                   'Category': np.random.choice(['A', 'B'], size=10),
                   'Sales': np.random.randint(1, 100, size=10)})
print("Original DataFrame:")
print(df)

# Compute the total sales of each group
groupped_df = df.groupby('Category')['Sales'].sum()
print("Grouped DataFrame:")
print(groupped_df)

Original DataFrame:
  Product Category  Sales
0  Prod_3        B     23
1  Prod_3        A     31
2  Prod_1        A     70
3  Prod_1        B     80
4  Prod_3        B     63
5  Prod_3        A     42
6  Prod_2        A     30
7  Prod_2        A     33
8  Prod_3        B     12
9  Prod_2        B     77
Grouped DataFrame:
Category
A    206
B    255
Name: Sales, dtype: int32

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

In [28]:
# Create two Pandas DataFrames with a common column
df1 = pd.DataFrame({'Key': ['A', 'B', 'C', 'D'], 'Value1': np.random.randint(1, 100, size=4)})
df2 = pd.DataFrame({'Key': ['A', 'B', 'C', 'E'], 'Value2': np.random.randint(1, 100, size=4)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

# Merge the DataFrames using the common column
merged = pd.merge(df1, df2, on='Key')
print("Merged DataFrame:")
print(merged)

DataFrame 1:
  Key  Value1
0   A      19
1   B      67
2   C      51
3   D      61
DataFrame 2:
  Key  Value2
0   A      68
1   B      92
2   C      11
3   E      55
Merged DataFrame:
  Key  Value1  Value2
0   A      19      68
1   B      67      92
2   C      51      11

2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [30]:
# Create two Pandas DataFrames with a common column
df1 = pd.DataFrame({'Key': ['A', 'B', 'C', 'D'], 'Value1': np.random.randint(1, 100, size=4)})
df2 = pd.DataFrame({'Key': ['E', 'F', 'G', 'H'], 'Value2': np.random.randint(1, 100, size=4)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

# Concatenate the DataFrames along the rows
concat_rows = pd.concat([df1, df2], axis=0)
print("Concatenated DataFrame (rows):")
print(concat_rows)

# Concatenate the DataFrames along the columns
concat_columns = pd.concat([df1, df2], axis=1)
print("Concatenated DataFrame (columns):")
print(concat_columns)

DataFrame 1:
  Key  Value1
0   A      56
1   B      98
2   C      96
3   D      45
DataFrame 2:
  Key  Value2
0   E      76
1   F      41
2   G       5
3   H      89
Concatenated DataFrame (rows):
  Key  Value1  Value2
0   A    56.0     NaN
1   B    98.0     NaN
2   C    96.0     NaN
3   D    45.0     NaN
0   E     NaN    76.0
1   F     NaN    41.0
2   G     NaN     5.0
3   H     NaN    89.0
Concatenated DataFrame (columns):
  Key  Value1 Key  Value2
0   A      56   E      76
1   B      98   F      41
2   C      96   G       5
3   D      45   H      89